.hero {
  padding: 4rem 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60vh;
}

.hero-content {
  flex: 1;
  max-width: 500px;
  text-align: left;
}

.hero h1 {
  font-size: 2.8rem;
  line-height: 1.2;
  color: var(--text-main);
  margin-bottom: 2rem;
}

.hero p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-main);
  margin-bottom: 2.5rem;
}

.btn-resume {
  background-color: var(--primary-color);
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 2px;
  font-weight: 500;
  font-size: 1.1rem;
  transition: opacity 0.3s;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.btn-resume:hover {
  opacity: 0.9;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.profile-img {
  width: 250px;
  height: 250px;
  background-color: #EDF7FA; /* Placeholder color */
  object-fit: cover;
  box-shadow: -10px 10px 0px rgba(237, 247, 250, 1); /* Decorative shadow */
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    gap: 2rem;
  }

  .hero-content {
    text-align: center;
    align-items: center;
  }
}
